<div class="background"></div>
<div class="form-popup">
    <div class="top-bar-container">
        <h3>Edit Character:</h3>
        <a class="cancel" href="/characters/<%= characterDetails.id %>">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-x"
            >
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
            </svg>
        </a>
    </div>
    <% if (locals.errors) { %>
    <ul class="error-list">
        <% errors.forEach((error) => { %>
        <li><%= error.msg %></li>
        <% }) %>
    </ul>
    <% } %>
    <form
        action="/characters/<%= characterDetails.id %>/edit"
        method="POST"
        class="edit-form"
    >
        <div class="form-container">
            <label for="characterName">Name:</label>
            <input
                type="text"
                name="characterName"
                id="characterName"
                value="<%= characterDetails.name %>"
            />
        </div>
        <div class="form-container">
            <label for="characterPath">Path:</label>
            <input
                type="text"
                name="characterPath"
                id="characterPath"
                value="<%= characterDetails.text %>"
            />
        </div>
        <div class="form-container">
            <label for="characterElement">Element:</label>
            <input
                type="text"
                name="characterElement"
                id="characterElement"
                value="<%= characterDetails.element %>"
            />
        </div>
        <div class="form-container">
            <label for="characterRarity">Rarity:</label>
            <input
                type="number"
                name="characterRarity"
                id="characterRarity"
                value="<%= characterDetails.rarity %>"
            />
        </div>
        <div class="form-container">
            <label for="characterDescription">Description:</label>
            <textarea name="characterDescription" id="characterDescription">
<%= characterDetails.description %></textarea
            >
        </div>
        <div class="bottom-container">
            <div class="form-container">
                <label for="password">Admin Password:</label>
                <input type="password" name="password" id="password" />
            </div>
            <button type="submit" class="submit-button">Submit</button>
        </div>
    </form>
</div>
