<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HSR Database</title>
        <link rel="stylesheet" href="/reset.css" />
        <link rel="stylesheet" href="/index.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="content-container">
            <h1 class="title">HSR Database</h1>
            <main>
                <div class="paths-container">
                    <% paths.filter(path => path.text !== "").map((path) => { %>
                    <a href="/paths/<%= path.text %>" class="path"><%= path.text %></a>
                    <% }) %>
                </div>
                <div class="character-container">
                    <% characters.filter(character => character.image !== "").map((character) => { %>
                    <a href="/paths/<%= character.text %>/characters/<%= character.id %>" class="character">
                        <img
                            src="<%= character.image %>"
                            alt="<%= character.name %>"
                            onerror="this.src='https://placehold.co/374x512?text=No+Image';this.onerror='';"
                        />
                        <h3><%= character.name %></h3>
                    </a>
                    <% }) %>
                </div>
            </main>
        </div>
    </body>
</html>
